# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/

# AI models
ai_models/trained/
*.joblib
*.h5
*.keras
*.pkl

# Logs
*.log

# IDE
.vscode/
.idea/
