# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
.env
.env.*
!.env.example

# Django
*.sqlite3
db.sqlite3
db.sqlite3.backup.*
/media/
staticfiles/

# AI models
ai_models/trained/
*.joblib
*.h5
*.keras
*.pkl

# Logs
*.log

# IDE
.vscode/
.idea/
