# Core Django
Django>=5.2.6
djangorestframework
django-cors-headers
django-crontab
django-extensions
django-celery-results

# Database
psycopg2-binary

# Data Science & ML
numpy
pandas
scikit-learn
joblib
tensorflow>=2.12
matplotlib

# Task Queue
celery
redis

# Utilities
pillow
python-dateutil
grpcio

